html {
  background: linear-gradient(153deg, rgba(97, 93, 173, 1) 35%, rgba(255, 200, 218, 1) 100%) fixed;
  font-size: 16px;
  color: white;
  text-align: center;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  color: white;
  background-color: #1fcca4;
  border: none;
  width: 100%;
  padding: 4%;
}

.uvodni_container {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #283e50;
}

.uvodni_name {
  font-size: 3rem;
  font-family: 'Lobster', cursive;
  font-weight: 400;
  padding: 5% 15% 5% 15%;
}

.uvodni_text,
.uvodni_name {
  width: 100%;
}

.uvodni_text {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5rem;
  font-weight: 300;
  padding: 2% 5% 10% 5%;
}

a {
  text-decoration: none;
}

.button:hover {
  background-color: #1cbb96;
}

.button--play {
  background-color: #0197f6;
  border-top: 1px solid #283e50;
}

.button--play:hover {
  background-color: #0090e9;
}
